{{define "main"}}
    {{template "header" .}}
    <div> {{.Status}}</div>
    <div>
        <h1>{{ .TitleTable1 }}</h1>
        <table style="width: 100%; border: 4px; border-collapse: collapse">
            <tr>
                {{ range .HeadTable1}}
                <th>{{.}}</th>
                {{ end}}
            </tr>
            <tr>
                <td>{{ .Table1.Bottle05 }}</td>
                <td>{{ .Table1.Bottle10 }}</td>
                <td>{{ .Table1.Bottle15 }}</td>
                <td>{{ .Table1.Bottle20 }}</td>
                <td>{{ .Table1.Labels}}</td>
                <td>{{ .Table1.ProductResidue }}</td>
                <td>{{ .Table1.LastUpdate}} </td>
            </tr>
        </table>
    </div>
    <div>
        <h1>{{ .FillData.Title}}</h1>
        <table>
            {{ range .FillData.TableHeader}}
                <th>{{.}}</th>
            {{ end}}
            {{ range .FillData.FillData}}
                <tr>
                    <td>{{ .CO2Status }}</td>
                    <td>{{ .CO2Pressure }}</td>
                    <td>{{ .KegPressure }}</td>
                    <td>{{ .DetectedVolume }}</td>
                    <td>{{ .FlowmeterPulses }}</td>
                    <td>{{ .Temperature }}</td>
                    <td>{{ .Success }}</td>
                    <td>{{ .ErrorCode }}</td>
                    <td>{{ .Update }}</td>
                </tr>
            {{ end}}
        </table>
    </div>
    <div>
        <h1>{{ .PrinterTitle }}</h1>
    </div>
    <div>
        <h1>{{ .VendingBoardTitle }}</h1>

    </div>
    {{template "footer" .}}
{{end}}